@using ChronoLog.Core.Interfaces
@using ChronoLog.Core.Models
@using ChronoLog.Core.Models.DisplayObjects
@inject DialogService DialogService
@inject NotificationService NotificationService
@inject IWorkdayService WorkdayService
@inject IWorktimeService WorktimeService

@if (Workday is null)
{
    <RadzenProgressBar Mode="ProgressBarMode.Indeterminate" Style="width:100%"/>
}
else
{
    <RadzenTemplateForm TItem="WorkdayViewModel" Data="@Workday" Submit="@OnSubmit">
        <RadzenStack Gap="1rem">
            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Wrap="FlexWrap.Wrap">
                <RadzenLabel Text="Workday Type" Component="WorkdayTypeDropdown"/>
                <RadzenDropDown @bind-Value="@Workday!.Type" Data="@WorkdayTypes" Name="WorkdayTypeDropdown"/>
                <RadzenButton Icon="check" ButtonStyle="ButtonStyle.Success" Variant="Variant.Outlined" Size="ButtonSize.Medium" class="rz-my-1 rz-ms-1" Click="@SaveWorkdayTypeChange" Disabled="@(!WorkdayTypeHasChanged)"/>
                <RadzenButton Icon="delete" ButtonStyle="ButtonStyle.Danger" Variant="Variant.Outlined" Size="ButtonSize.Medium" class="rz-my-1 rz-ms-1" Click="@DeleteWorkday"/>
            </RadzenStack>

            @if (IsWorkingDay)
            {
                <RadzenCardGroup Responsive="true">
                    <!-- Worktime edit -->
                    <RadzenCard Variant="Variant.Flat">
                        <RadzenDataGrid @ref="@_worktimeGrid"
                                        Data="@_worktimes"
                                        TItem="WorktimeModel"
                                        AllowAlternatingRows="false"
                                        AllowFiltering="true"
                                        AllowPaging="true"
                                        AllowSorting="true"
                                        PageSize="15"
                                        EditMode="DataGridEditMode.Single"
                                        RowUpdate="@OnUpdateRow"
                                        RowCreate="@OnCreateRow"
                                        Sort="@ClearPendingInsertions"
                                        Page="@ClearPendingInsertions"
                                        Filter="@ClearPendingInsertions">
                            <HeaderTemplate>
                                <RadzenButton ButtonStyle="ButtonStyle.Success" Variant="Variant.Outlined" Icon="add_circle" Click="@InsertRow" Disabled="@(_worktimesToInsert.Any())"/>
                            </HeaderTemplate>
                            <Columns>
                                <RadzenDataGridColumn TItem="WorktimeModel" Property="StartTime" Title="In" Width="150px">
                                    <EditTemplate Context="worktime">
                                        <RadzenTimeSpanPicker Value="@(worktime.StartTime.ToTimeSpan())"
                                                              ValueChanged="@((TimeSpan ts) => worktime.StartTime = TimeOnly.FromTimeSpan(ts))"
                                                              Min="@TimeSpan.Zero"
                                                              Max="@TimeSpan.FromMinutes(1439)"/>
                                    </EditTemplate>
                                    <Template Context="worktime">
                                        @worktime.StartTime.ToString("HH':'mm':'ss")
                                    </Template>
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="WorktimeModel" Property="BreakTime" Title="Break" Width="150px">
                                    <EditTemplate Context="worktime">
                                        <RadzenTimeSpanPicker Value="@(worktime.BreakTime.HasValue ? worktime.BreakTime.Value : (TimeSpan?)null)"
                                                              ValueChanged="@((TimeSpan? ts) => worktime.BreakTime = ts.HasValue ? ts.Value : null)"
                                                              Min="@TimeSpan.Zero"
                                                              Max="@TimeSpan.FromHours(12)"/>
                                    </EditTemplate>
                                    <Template Context="worktime">
                                        @worktime.BreakTime?.ToString(@"hh\:mm\:ss")
                                    </Template>
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="WorktimeModel" Property="EndTime" Title="Out" Width="150px">
                                    <EditTemplate Context="worktime">
                                        <RadzenTimeSpanPicker Value="@(worktime.EndTime.HasValue ? worktime.EndTime.Value.ToTimeSpan() : (TimeSpan?)null)"
                                                              ValueChanged="@((TimeSpan? ts) => worktime.EndTime = ts.HasValue ? TimeOnly.FromTimeSpan(ts.Value) : (TimeOnly?)null)"
                                                              Min="@TimeSpan.Zero"
                                                              Max="@TimeSpan.FromMinutes(1439)"/>
                                    </EditTemplate>
                                    <Template Context="worktime">
                                        @worktime.EndTime?.ToString("HH':'mm':'ss")
                                    </Template>
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn Context="worktime" Filterable="false" Sortable="false" TextAlign="TextAlign.Right" Width="150px" Frozen="true" FrozenPosition="FrozenColumnPosition.Right">
                                    <Template Context="worktime">
                                        <RadzenButton Icon="edit" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Medium" class="rz-my-1 rz-ms-1" Click="@(_ => EditRow(worktime))" @onclick:stopPropagation="true"/>
                                    </Template>
                                    <EditTemplate Context="worktime">
                                        <RadzenButton Icon="check" ButtonStyle="ButtonStyle.Success" Variant="Variant.Flat" Size="ButtonSize.Medium" Click="@(_ => SaveRow(worktime))" aria-label="Save"/>
                                        <RadzenButton Icon="close" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Medium" class="rz-my-1 rz-ms-1" Click="@(_ => CancelEdit(worktime))" aria-label="Cancel"/>
                                        <RadzenButton Icon="delete" ButtonStyle="ButtonStyle.Danger" Variant="Variant.Flat" Size="ButtonSize.Medium" Shade="Shade.Lighter" class="rz-my-1 rz-ms-1" Click="@(_ => DeleteRow(worktime))" aria-label="Delete"/>
                                    </EditTemplate>
                                </RadzenDataGridColumn>
                            </Columns>
                            <FooterTemplate>
                                <div class="rz-p-2 rz-text-bold">
                                    Total Worked Hours: @Workday.TotalWorktime.ToString(@"hh\:mm\:ss")
                                </div>
                            </FooterTemplate>
                        </RadzenDataGrid>
                    </RadzenCard>

                    <!-- Project edit -->
                    <RadzenCard Variant="Variant.Flat">

                    </RadzenCard>
                </RadzenCardGroup>
            }
        </RadzenStack>
    </RadzenTemplateForm>
}

@code {
    [Parameter] public WorkdayViewModel? Workday { get; set; }
    [Parameter] public DateTime SelectedDate { get; set; }

    private static readonly IEnumerable<WorkdayType> WorkdayTypes = Enum.GetValues(typeof(WorkdayType)).Cast<WorkdayType>();
    private RadzenDataGrid<WorktimeModel> _worktimeGrid = new();
    private List<WorktimeModel> _worktimes = [];
    private readonly List<WorktimeModel> _worktimesToInsert = [];
    
    private WorkdayType? _originalWorkdayType;

    private bool IsWorkingDay =>
        Workday?.Type
            is WorkdayType.Dienstreise
            or WorkdayType.Homeoffice
            or WorkdayType.Office;
    
    private bool WorkdayTypeHasChanged =>
        Workday is not null &&
        _originalWorkdayType.HasValue &&
        _originalWorkdayType.Value != Workday.Type;

    protected override async Task OnInitializedAsync()
    {
        _originalWorkdayType = Workday?.Type;
        
        if (Workday is not null)
        {
            _worktimes = Workday.Worktimes.ToList();
        }
        else
        {
            await CreateWorkdayIfNotExists();
            _worktimes = [];
        }
    }
    
    private async Task CreateWorkdayIfNotExists()
    {
        if (Workday is not null) return;
        var newWorkday = new WorkdayModel
        {
            Date = SelectedDate,
            Type = WorkdayType.Homeoffice
        };
        var workdayId = await WorkdayService.CreateWorkdayAsync(newWorkday);
        Workday = await WorkdayService.GetWorkdayByIdAsync(workdayId);
        _originalWorkdayType = Workday?.Type;
    }
    
    private async Task SaveWorkdayTypeChange()
    {
        if (Workday is null) return;
        
        if (WorkdayTypeHasChanged && !IsWorkingDay)
        {
            var confirmed = await DialogService.Confirm("Changing the workday type will delete all associated worktimes. Do you want to proceed?", "Confirm Workday Type Change",
                new ConfirmOptions
                {
                    OkButtonText = "Yes",
                    CancelButtonText = "No",
                    CloseDialogOnEsc = true,
                    CloseDialogOnOverlayClick = true,
                    ShowTitle = false
                });

            if (confirmed is not true)
            {
                if (_originalWorkdayType.HasValue)
                {
                    Workday.Type = _originalWorkdayType.Value;
                }
                return;
            }
        }
        
        if (!await WorkdayService.UpdateWorkdayAsync(Workday.WorkdayId, DateOnly.FromDateTime(Workday.Date), Workday.Type))
        {
            NotificationService.Notify(NotificationSeverity.Error, "Update of workday type failed.", duration: 4000);
        }
        else
        {
            NotificationService.Notify(NotificationSeverity.Success, "Update of workday type succeeded.", duration: 4000);
            _originalWorkdayType = Workday.Type;
        }
        
        if (!IsWorkingDay && _worktimes.Any())
        {
            foreach (var worktime in _worktimes.ToList())
            {
                if (!await WorktimeService.DeleteWorktimeAsync(worktime.WorktimeId))
                {
                    NotificationService.Notify(NotificationSeverity.Error, "Deletion of worktime failed.", duration: 4000);
                    continue;
                }
                _worktimes.Remove(worktime);
            }
            await _worktimeGrid.Reload();
        }
    }
    
    private async Task DeleteWorkday()
    {
        if (Workday is null) return;
        
        var confirmed = await DialogService.Confirm($"Delete Workday permanently?", "Delete Workday",
            new ConfirmOptions
            {
                OkButtonText = "Delete",
                CancelButtonText = "Cancel",
                CloseDialogOnEsc = true,
                CloseDialogOnOverlayClick = true,
                ShowTitle = false
            });
        if (confirmed is not true) return;
        
        if (await WorkdayService.DeleteWorkdayAsync(Workday.WorkdayId))
        {
            NotificationService.Notify(NotificationSeverity.Success, "Workday deleted.", duration: 4000);
        }
        else
        {
            NotificationService.Notify(NotificationSeverity.Error, "Deletion of workday failed.", duration: 4000);
            return;
        }
        
        DialogService.Close();
    }

    private void ClearPendingInsertions()
    {
        _worktimesToInsert.Clear();
    }

    private void RemovePendingInsertion(WorktimeModel worktime)
    {
        _worktimesToInsert.Remove(worktime);
    }

    private async Task EditRow(WorktimeModel worktime)
    {
        if (!_worktimeGrid.IsValid) return;
        
        ClearPendingInsertions();
        await _worktimeGrid.EditRow(worktime);
    }

    private async Task OnUpdateRow(WorktimeModel worktime)
    {
        RemovePendingInsertion(worktime);
        if (!await WorktimeService.UpdateWorktimeAsync(worktime))
        {
            _worktimeGrid.CancelEditRow(worktime);
            NotificationService.Notify(NotificationSeverity.Error, "Update of worktime failed.", duration: 4000);
        }
    }

    private async Task SaveRow(WorktimeModel worktime)
    {
        await _worktimeGrid.UpdateRow(worktime);
    }

    private void CancelEdit(WorktimeModel worktime)
    {
        RemovePendingInsertion(worktime);
        _worktimeGrid.CancelEditRow(worktime);
    }

    private async Task DeleteRow(WorktimeModel worktime)
    {
        RemovePendingInsertion(worktime);

        if (_worktimes.Contains(worktime))
        {
            if(!await WorktimeService.DeleteWorktimeAsync(worktime.WorktimeId))
            {
                NotificationService.Notify(NotificationSeverity.Error, "Deletion of worktime failed.", duration: 4000);
                return;
            }
            _worktimes.Remove(worktime);
        }
        else
        {
            _worktimeGrid.CancelEditRow(worktime);
        }

        await _worktimeGrid.Reload();
    }

    private async Task InsertRow()
    {
        if (!_worktimeGrid.IsValid) return;
        
        ClearPendingInsertions();
        var newWorktime = new WorktimeModel();
        try
        {
            _worktimesToInsert.Add(newWorktime);
            await _worktimeGrid.InsertRow(newWorktime);
        }
        catch
        {
            _worktimesToInsert.Remove(newWorktime);
            NotificationService.Notify(NotificationSeverity.Error, "Insertion of worktime failed.", duration: 4000);
        }
    }

    private async Task OnCreateRow(WorktimeModel worktime)
    {
        if (Workday is null) return;
        
        worktime.WorkdayId = Workday.WorkdayId;
        var createdWorktimeId = await WorktimeService.CreateWorktimeAsync(worktime);
        var createdWorktime = await WorktimeService.GetWorktimeByIdAsync(createdWorktimeId);

        if (createdWorktime != null) _worktimes.Add(createdWorktime);
        _worktimesToInsert.Remove(worktime);
        await _worktimeGrid.Reload();
    }

    void OnSubmit(WorkdayViewModel model)
    {
        DialogService.Close(model);
    }
}
