@page "/evaluation"
@using System.Globalization
@using ChronoLog.Core.Interfaces
@using ChronoLog.Core.Models
@using ChronoLog.Core.Models.DisplayObjects
@inject IWorkdayService WorkdayService
@inject IWorktimeService WorktimeService
@inject IProjectService ProjectService
@inject IProjecttimeService ProjecttimeService

<PageTitle>Evaluation</PageTitle>

<RadzenTabs Change="@OnTabChange">
    <Tabs>
        <RadzenTabsItem Text="Weekly SAP">
            <!--
            TODO:
            - Working time
            - Projecttimes
                - Project ID
                - Time spent
                - Text per Project
        -->
            <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Center" AlignItems="AlignItems.Center" Gap="0.5rem" class="rz-p-12">
                <RadzenLabel Text="Select Week" Component="DatePickerYearWeek" />
                <RadzenDatePicker @bind-Value="@selectedDate" ShowButton="false" DateFormat="dd/MM/yyyy" CurrentDateChanged="@OnCurrentDateChanged" Name="DatePickerYearWeek">
                    <FooterTemplate>
                        <RadzenButton Click="@(_ => OnCurrentDateChanged(DateTime.Now))" Text="Today" Style="width: 100%;" class="rz-my-4" />
                    </FooterTemplate>
                </RadzenDatePicker>
                <RadzenButton Icon="chevron_left" ButtonStyle="ButtonStyle.Light" Click="@PrevWeek" Style="margin-left:0.5rem;" />
                <RadzenButton Icon="chevron_right" ButtonStyle="ButtonStyle.Light" Click="@NextWeek" />
                <div style="display:flex; align-items:center; margin-left:1rem;">
                    <strong>Week @CultureInfo.CurrentCulture.Calendar.GetWeekOfYear(selectedDate, CalendarWeekRule.FirstFourDayWeek, DayOfWeek.Monday):</strong>&nbsp;
                    <span>@DateRangeStart.ToString("dd.MM.yyyy") - @DateRangeEnd.ToString("dd.MM.yyyy")</span>
                </div>
            </RadzenStack>
            <RadzenStack Orientation="Orientation.Vertical" AlignItems="AlignItems.Start" Gap="0.5rem" class="rz-p-4 rz-mb-6 rz-border-radius-1" Style="border: var(--rz-grid-cell-border, 1px solid rgba(0,0,0,0.12));">
                <RadzenLabel Text="Your Weekly Working Time:"/>
                <RadzenBadge Text="@(GetWorkingHoursAdjusted().ToString(CultureInfo.CurrentCulture) + "h")"/>
                <RadzenLabel Text="Total Working Time:"/>
                <RadzenBadge Text="@($"{totalWorkingHours.TotalHours:F2}h")"/>
                <RadzenLabel Text="Remaining Time:"/>
                <RadzenBadge Text="@($"{Math.Max(0, GetWorkingHoursAdjusted() - totalWorkingHours.TotalHours):F2}h")"/>
            </RadzenStack>

        </RadzenTabsItem>
        
        <RadzenTabsItem Text="Monthly SAP">

        </RadzenTabsItem>
        
        <RadzenTabsItem Text="Yearly Stats">

        </RadzenTabsItem>
    </Tabs>
</RadzenTabs>

@code {
    private DateTime selectedDate = DateTime.Now;
    private DateTime DateRangeStart;
    private DateTime DateRangeEnd;
    
    private const double dailyWorkingHours = 8.0;
    private static double weeklyWorkingHours = 40.0;
    private TimeSpan totalWorkingHours;
    
    private List<ProjectModel> _projects = [];
    private List<WorkdayViewModel> _workdays = [];
    private List<WorktimeModel> _worktimes = [];
    private List<ProjecttimeModel> _projecttimes = [];
    
    protected override async Task OnInitializedAsync()
    {
        SetWeekFromDate(selectedDate);
        _projects = await ProjectService.GetProjectsAsync();
        await UpdateWorkdayDataAsync();
    }
    
    private async Task UpdateWorkdayDataAsync()
    {
        _workdays = await WorkdayService.GetWorkdaysAsync(DateRangeStart, DateRangeEnd);
        _worktimes = await WorktimeService.GetWorktimesAsync(DateRangeStart, DateRangeEnd);
        _projecttimes = await ProjecttimeService.GetProjecttimesAsync(DateRangeStart, DateRangeEnd);
        
        totalWorkingHours = await GetTotalWorkingHours();
        StateHasChanged();
    }
    
    private void OnTabChange(int index)
    {
        
    }
    
    private async Task OnCurrentDateChanged(DateTime date)
    {
        selectedDate = new DateTime(date.Year, date.Month, date.Day);
        SetWeekFromDate(selectedDate);
        await UpdateWorkdayDataAsync();
    }
    
    private void SetWeekFromDate(DateTime date)
    {
        DateRangeStart = GetStartOfWeek(date, DayOfWeek.Monday);
        DateRangeEnd = DateRangeStart.AddDays(6).Date;
    }
    
    private static DateTime GetStartOfWeek(DateTime date, DayOfWeek startOfWeek)
    {
        var diff = (7 + (date.DayOfWeek - startOfWeek)) % 7;
        return date.Date.AddDays(-diff);
    }
    
    private async Task PrevWeek()
    {
        var newStart = DateRangeStart.AddDays(-7);
        selectedDate = newStart;
        SetWeekFromDate(selectedDate);
        await UpdateWorkdayDataAsync();
    }

    private async Task NextWeek()
    {
        var newStart = DateRangeStart.AddDays(7);
        selectedDate = newStart;
        SetWeekFromDate(selectedDate);
        await UpdateWorkdayDataAsync();
    }

    private double GetWorkingHoursAdjusted()
    {
        var reducingWorkdayTypes = Enum.GetValues(typeof(ReducingWorkdayType))
            .Cast<ReducingWorkdayType>()
            .Select(x => x.ToString())
            .ToList();;
        var daysToReduce = _workdays.Count(x => reducingWorkdayTypes.Contains(x.Type.ToString()));
        var adjustedHours = weeklyWorkingHours - (daysToReduce * dailyWorkingHours);
        return Math.Max(0, adjustedHours);
    }
    
    private async Task<TimeSpan> GetTotalWorkingHours()
    {
        var totalHours = await WorktimeService.GetTotalWorktimeAsync(DateRangeStart, DateRangeEnd);
        return totalHours ?? TimeSpan.Zero;
    }
}